<table class="table-overloads">
  {% for entity in page.overloads %}
  <tr>
    <td valign="top" align="right">
      {{entity[1].rtype}}
    </td>
    <td valign="top" align="right">
      {{page.short_name}}&nbsp;(
    </td>
    <td valign="top" align="left">
      {%- for param in entity[1].params -%} {%- if param.link -%}<a
        href="{{param.link}}"
        >{{param.type|escape }}</a
      >{%- else -%} {{param.type |escape}} {%- endif -%} &nbsp; {{param.name}}{%
      if forloop.last == false %}, {% endif %} {%- endfor -%})
    </td>

    <td><a href="{{param.definition_location}}">({{forloop.index}})</a></td>
  </tr>
  {% endfor %}
</table>

{% for entity in page.entities %} {% case entity.kind %} {% when 'parameters'%}
<h3>Parameters</h3>
{% if entity.list %}
<table class="parameter-table">
  {% for item in entity.list %}
  <tr>
    <td class="decl">{{ item.name }}</td>
    <td class="defn">
      {% if item.annotation %}
      <span class="annotation">({{item.annotation | join: ", "}})</span>
      {% endif %} {{ item.description | markdownify }}
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>(none)</p>
{% endif %} {% when 'result'%}
<h3>Return value</h3>
{% if entity.description %} {{ entity.description | markdownify }} {% else %}
<p>(none)</p>
{% endif %} {% else %} {% endcase %} {% endfor %}
