<!-- Example -->

{% if page.example.code != "__NONE__" %}
<h2>Example</h2>

{{page.example.desc | markdownify}}

<div>
  {{page.example.code | highlight_and_link}}
</div>

  {% if page.example.comment %}
    <div class="alert alert-warning">
      {{page.example.comment | markdownify}}
    </div>
  {% endif %}
{% endif %}

<!-- See Also links -->

{% if page.see-also.size != 0 %}
<h2>See also</h2>
<table class="table-seealso">
  {%- for name in page.see-also -%}
  <tr>
    <td class="" align="right">
      <a href="{{name}}">{{name| get_fancy_name_from_permalink}}</a>
    </td>
    <td class="">
      {{site.data.permalink_to_brief[name]| markdownify | remove: '<p>' | remove: '</p>'}}
    </td>
  </tr>
  {%- endfor -%}
</table>
{% endif %}
