<!-- TODO: Add Markdown looping -->
<div class="flex-grid">
  <div class="col">
    <div class="card tooltip">
      <a href="/cpp-api/nda/overview" class="card-title">
        <h4>Overview</h4>
      </a>
      <span class="tooltiptext">Tooltip text here</span>
    </div>
    <div class="card tooltip">
      <a href="/" class="card-title ">
        <h4>Container</h4>
      </a>
      <span class="tooltiptext">Tooltip text here</span>
    </div>
    <div class="card tooltip">
      <a href="/" class="card-title ">
        <h4>Layout transformations</h4>
      </a>
      <span class="tooltiptext">Reshape, reinterpret</span>
    </div>
    <div class="card tooltip">
      <a href="/" class="card-title ">
        <h4>Linear Algebra</h4>
      </a>
      <span class="tooltiptext">Interface BLAS/LAPACK, Eigen</span>
    </div>
  </div>
  <div class="col">
    <div class="card tooltip">
      <a href="/" class="card-title">
        <h4>Tutorial</h4>
      </a>
      <span class="tooltiptext">Step-by-step guides to learn TRIQS</span>
    </div>
    <div class="card tooltip">
      <a href="/" class="card-title ">
        <h4>Views</h4>
      </a>
      <span class="tooltiptext">nda_basic_array_view</span>
    </div>
    <div class="card tooltip">
      <a href="/" class="card-title ">
        <h4>Arithmetic</h4>
      </a>
      <span class="tooltiptext">Array, Matrix algebra, Basic operations</span>
    </div>
    <div class="card">
      <a href="/" class="card-title">
        <h4>HDF5</h4>
      </a>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <a href="/" class="card-title">
        <h4>Installation</h4>
      </a>
    </div>
    <div class="card tooltip">
      <a href="/" class="card-title ">
        <h4>Concepts</h4>
      </a>
      <span class="tooltiptext">Array, ArrayOfRank</span>
    </div>
    <div class="card tooltip">
      <a href="/" class="card-title ">
        <h4>Algorithms</h4>
      </a>
      <span class="tooltiptext">e.g. abs, max, map, fold</span>
    </div>
    <div class="card">
      <a href="/" class="card-title">
        <h4>MPI</h4>
      </a>
    </div>
  </div>
</div>
