<div class="flex-grid">
  <div class="col">
    <div class="card">
      <a href="/" class="card-title">
        <h4>Overview</h4>
      </a>
      <p class="card-examples"><a>Basic stuff</a></p>
    </div>
    <div class="card">
      <a href="/" class="card-title">
        <h4>Container</h4>
      </a>
      <p class="card-examples">Holds, some, stuff</p>
    </div>
    <div class="card">
      <a href="/" class="card-title">
        <h4>Layout transformations</h4>
      </a>
      <p class="card-examples">Reshape, reinterpret</p>
    </div>
    <div class="card">
      <a href="/" class="card-title">
        <h4>Linear Algebra</h4>
      </a>
      <p class="card-examples">Interface BLAS/LAPACK, Eigen</p>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <a href="/" class="card-title">
        <h4>Tutorial</h4>
      </a>
      <p class="card-examples"><a>Topic 1</a>, <a>Topic 2</a>, <a>Topic </a></p>
    </div>
    <div class="card">
      <a href="/" class="card-title">
        <h4>Views</h4>
      </a>
      <p class="card-examples"><a>nda_basic_array_view</a></p>
    </div>
    <div class="card">
      <a href="/" class="card-title">
        <h4>Arithmetic</h4>
      </a>
      <p class="card-examples">
        <a href="/">Array</a>, <a href="/">Matrix algebra</a>,
        <a href="/">Basic operations</a>
      </p>
    </div>
    <div class="card">
      <a href="/" class="card-title">
        <h4>HDF5</h4>
      </a>
      <p class="card-examples"></p>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <a href="/" class="card-title">
        <h4>Installation</h4>
      </a>
      <p class="card-examples"></p>
    </div>
    <div class="card">
      <a href="/" class="card-title">
        <h4>Concepts</h4>
      </a>
      <p class="card-examples">
        <a href="/">Array</a>, <a href="/">ArrayOfRank</a>
      </p>
    </div>
    <div class="card">
      <a href="/" class="card-title">
        <h4>Algorithms</h4>
      </a>
      <p class="card-examples">e.g. abs, max, map, fold</p>
    </div>
    <div class="card">
      <a href="/" class="card-title">
        <h4>MPI</h4>
      </a>
      <p class="card-examples"></p>
    </div>
  </div>
</div>
