  <ul class="navigation-list">
    {%- assign pages_list = site.html_pages | sort:"nav_order" -%}
    {%- for node in pages_list -%}
      {%- unless node.nav_exclude -%}
        {%- assign perm_id =  node.permalink | "/" -%}
        {%- assign node_data = perm_id | get_level_array_of: site.data.levels -%}
        {%- assign node_level = node_data.nest-%}
        {%- if node_level.size == 1 -%}
          {%- assign url_page = page.url | slice: 1, page.url.size -%}
          {%- assign url_page_parent = url_page | split: "/" | first -%}
          {% assign url_node = node.url | slice: 1, node.url.size %}
          <li class="navigation-list-item {% if page.url == node.url or url_page_parent == url_node %} active {% endif %}">
            <a href="{{ node.url | baseurl }}" class="navigation-list-link{% if page.url == node.url or url_page_parent == url_node %} active{% endif %}">9:{{ node.title }}</a>
            {%- if node.has_children -%}
              {%- assign children_list = node_level | get_children_array_of: site.data.levels, 0 -%}
              <ul class="navigation-list-child-list ">
                {%- for child in children_list -%}
                  <li class="navigation-list-item navigation-child-item {% if page.url == child.page.url %} active{% endif %}">
                    <a href="{{ child.page.url | absolute_url }}" class="navigation-list-link{% if page.url == child.page.url %} active{% endif %}">{{ child.page.title }}</a>
                    {%- if child.page.has_children -%}
                        {%- assign grand_children_list = child.nest | get_children_array_of: site.data.levels, 1 -%}
                        <ul class="navigation-list-grandchild-list">
                        {%- for grand_child in grand_children_list -%}
                          <li class="navigation-list-item {% if page.url == grand_child.page.url %} active{% endif %}">
                            <a href="{{ grand_child.page.url | absolute_url }}" class="navigation-list-link {% if page.url == grand_child.page.url %} active{% endif %}">{{ grand_child.page.title }}</a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </li>
        {%- endif -%}
      {%- endunless -%}
    {%- endfor -%}
  </ul>
</nav>