.flex-grid {
  display: block;

  @include mq(md) {
    display: flex;
    justify-content: space-between;
  }
}

.col {
  width: 100%;
  @include mq(md) {
    width: 32%;
  }
}

.card {
  display: inline-block;
  box-sizing: border-box;
  padding-top: 0.3em;
  padding-right: 1em;
  padding-bottom: 0.3em;
  padding-left: 1em;
  margin: 0 0 1vw 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: 1.5;
  color: $link-color;
  text-decoration: none;
  vertical-align: baseline;
  cursor: pointer;
  background-color: $base-button-color;
  border-width: 0;
  border-radius: $border-radius;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  width: 100%;
  height: auto;
  h4 {
    color: $link-color;
  }
}

.card-examples {
  color: $nav-child-link-color;
  font-weight: normal;
  a {
    white-space: normal !important;
    color: $nav-child-link-color;
    font-weight: normal;
  }
}
