.tooltip {
  position: relative;
  display: inline-block;
  overflow: visible !important;

  > .tooltiptext {
    @include fs-2;
    visibility: hidden;
    padding: 0.75rem;
    border: 1px solid $grey-dk-100;
    border-radius: $border-radius;
    position: absolute;
    z-index: 1;
    color: $grey-lt-000;
    text-align: center;
    bottom: 95%;
    left: 50%;
    width: 180px;
    margin-left: -90px;
    overflow-wrap: break-word;

    &:after {
      content: " ";
      position: absolute;
      top: 100%; /* At the bottom of the tooltip */
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: $grey-dk-100 transparent transparent transparent;
    }
  }
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  background-color: $grey-dk-100;
}

