---
layout: default
---

<br/>

 <!-- Brief description of the namespace -->

 {{page.brief |markdownify}}

 {% if page.namespaces %}
<h5> Namespaces</h5>

<table class='method-table' >
 {% for name in page.namespaces%}
    <tr>
     <td class="method-name" align="right"> <a href="{{ name | escape }}_.html"> {{name}} </a>  </td>
     <td > <b>-</b> </td>
     </td>
    </tr> 
 {% endfor %}
</table>
{% endif %}


{% if page.functions %}
<h5> Functions</h5>
<table class='method-table' >
 {% for name in page.functions%}
    <tr>
     <td class="method-name" align="right"> <a href="{{ name | escape }}_.html"> {{name}} </a>  </td>
     <td > <b>-</b> </td>
     <td class="method-brief"> 
     {%- if  page.qualified_name =='/' -%}
      {% assign qname =  name %}
     {%- else -%}
      {% assign qname =  page.qualified_name |append: '::' |append: name %}
     {%- endif  -%}
      {{ qname | get_brief: site.data.allbriefs | markdownify | remove: '<p>' | remove: '</p>'}} 
     </td>
    </tr> 
 {% endfor %}
</table>
{% endif %}


{% if page.classes %}
<h5> Classes </h5>

<table class='method-table' >
 {% for name in page.classes%}
    <tr>
     <td class="method-name" align="right"> <a href="{{ name | escape  }}/index.html"> {{name |escape}} </a>  </td>
     <td > <b>-</b> </td>
     <td class="method-brief"> 
     {%- if  page.qualified_name =='/' -%}
      {% assign qname =  name %}
     {%- else -%}
      {% assign qname =  page.qualified_name |append: '::' |append: name %}
     {%- endif  -%}
      {{ qname | get_brief: site.data.allbriefs | markdownify | remove: '<p>' | remove: '</p>'}} 
    </td>
    </tr> 
 {% endfor %}
</table>
{% endif %}

   


{{ content }}


