---
layout: default
---
<h1> {{page.title |markdownify}} </h1>

<span  class='cpp-include-header'> Defined in header  &lt;{{page.includer}}&gt; </span>

<!-- Signature  -->

<span class='signature'> {% highlight c++ %}{{page.signature}}{% endhighlight %}</span>

 <!-- Description of the class -->

 {{page.desc |markdownify}}

<!-- Template parameters -->

{% if page.tparams.size != 0 %}
<h3> Template parameters</h3>
{% if  page.tparams.size >= 3 %}
{%assign tpl_collapsed = true %}
<details><summary><span class="cpp-template-parameters-header">Click to unfold</span></summary> 
{% endif %}
<table class='tparam-table' >
 {% for param in page.tparams%}
  {% if param[1] != "__SKIP__" %}
    <tr>
     <td class="param-name" valign="top" align="left"> {{param[0]}} </td>
     <td class="param-value"> {{param[1] | newline_to_br| markdownify | remove: '<p>' | remove: '</p>'	}} </td>
    </tr>
   {% endif %}
 {% endfor %}
</table>
{%- if tpl_collapsed -%}</details>{%- endif -%}
{% endif %}

 <!-- Methods FIXME : regrouping. Write the get_brief Ruby filter-->

{% if page.methods %}
<h3> Member functions </h3>
{% if  page.methods.size >= 100 %}
{%assign param_collapsed = true %}
<details><summary><span class="cpp-parameters-header">Click to unfold</span></summary> 
{% endif %}
 <!--The method is a list of dicts with one element : a grouped list with a gruop title-->
{% if page.methods.first.first %}
 {% for g_l in page.methods %}
 <h4> {{g_l.first[0]}} </h4>
 <table class='method-table'>
   {% for name in g_l.first[1] %}
    <tr>
     <td class="method-name" align="right"><a href="{{name}}.html">{{name| get_fancy_name: page.permalink, site.data.permalink_to_fancyname}}</a></td>
     <td class="method-brief">{{name| get_brief: page.permalink, site.data.permalink_to_brief | markdownify | remove: '<p>' | remove: '</p>'}}</td>
    </tr>
   {% endfor %}
 </table>
 {% endfor %}
 <!--The method is a list-->
{% else %}
<table class='method-table'>
 {% for name in page.methods %}
    <tr>
     <td class="method-name" align="right"><a href="{{name}}.html">{{name| get_fancy_name: page.permalink, site.data.permalink_to_fancyname}}</a></td>
     <td class="method-brief">{{name| get_brief: page.permalink, site.data.permalink_to_brief | markdownify | remove: '<p>' | remove: '</p>'}}</td>
    </tr>
 {% endfor %}
</table>
{% endif %}
{%- if param_collapsed -%}</details>{%- endif -%}
{% endif %}

<!--<h3> Non member functions</h3>-->

{% if page.member_types %}
<h3> Member types</h3>
<table class='member-type-table' >
 {% for mt in page.member_types%}
    <tr>
     <td class="member-type-name" align="right"> {{mt[0]}}  </td>
     <td class="member-type-doc">
      {{mt[1]["desc"]}}
     </td>
    </tr>
 {% endfor %}
</table>
{% endif %}

{% if page.member_fields %}
<h3> Member fields</h3>
<table class='member-field-table' >
 {% for mt in page.member_fields%}
    <tr>
     <td class="member-field-name" align="right"> {{mt[0]}}  </td>
     <td class="member-field-doc">
      {{mt[1]["desc"]}}
     </td>
    </tr>
 {% endfor %}
</table>
{% endif %}

{%include example_and_see_also.html %}

{{ content }}

{% cpp2doc_register_images_generated_by_parser %}

