---
layout: default
---

<br/>

<!--Includer-->

<div> Defined in header <span  class='includer'> &lt;{{page.includer}}&gt; </span>

<!-- Signature  -->

<span class='signature'> {% highlight c++ %}  {{page.signature}} {% endhighlight %}       </span>

 <!-- Description of the class -->

 {{page.desc |markdownify}}

<!-- Template parameters -->

{% if page.tparams %}
<h5> Template parameters</h5>

<table class='tparam-table' >
 {% for param in page.tparams%}
    <tr>
     <td class="param-name" valign="top" align="right"> {{param[0]}} </td>
     <td valign="top"> <b>-</b> </td>
     <td class="param-value"> {{param[1] |markdownify | remove: '<p>' | remove: '</p>'	}} </td>
    </tr>
 {% endfor %}
</table>
{% endif %}

 <!-- Methods FIXME : regrouping. Write the get_brief Ruby filter-->

{% if page.methods %}
<h5> Member functions </h5>
<table class='method-table'>
{% if page.constructor %}
   <tr>
     <td class="method-name" align="right"> <a href="{{page.constructor}}_.html"> (constructor) </a>  </td>
     <td > <b>-</b> </td>
     <td class="method-brief"> 
     </td>
    </tr> 
{% endif %}
{% if page.destructor %}
   <tr>
     <td class="method-name" align="right"> <a href="destructor_.html"> (destructor) </a>  </td>
     <td > <b>-</b> </td>
     <td class="method-brief"> 
     </td>
    </tr> 
{% endif %}
{% for name in page.methods %}
    <tr>
     <td class="method-name" align="right"> <a href="{{name}}_.html"> {{name}} </a>  </td>
     <td > <b>-</b> </td>
     <td class="method-brief"> 
      <!--FIXME : remove p ?-->
      {% assign qname =  page.qualified_name |append: '::' |append: name %}
      {{ qname | get_brief: site.data.allbriefs | markdownify | remove: '<p>' | remove: '</p>'}} 
     </td>
    </tr> 
 {% endfor %}
</table>
{% endif %}

<h5> Non member functions</h5>

<h5> Member types</h5>
{% if page.member_types %}
<table class='member-type-table' >
 {% for mt in page.member_types%}
    <tr>
     <td class="member-type-name" align="right"> {{mt[0]}}  </td>
     <td > <b>-</b> </td>
     <td class="member-type-doc"> 
      {{mt[1]["desc"]}}
     </td>
    </tr> 
 {% endfor %}
</table>
{% endif %}

<h5> Member fields</h5>
{% if page.member_fields %}
<table class='member-field-table' >
 {% for mt in page.member_fields%}
    <tr>
     <td class="member-field-name" align="right"> {{mt[0]}}  </td>
     <td > <b>-</b> </td>
     <td class="member-field-doc"> 
      {{mt[1]["desc"]}}
     </td>
    </tr> 
 {% endfor %}
</table>
{% endif %}


 <!-- Example FACTORIZE with function -->

 <h3> Example </h3>

{{page.example.desc|markdownify}}

<div>
{{page.example.code | link_and_highlight: site.data.highlighted_types}}

</div>

 <!-- See Also links -->

<h5> See also </h5>
<table class='table-seealso' >
 {%- for sa in page.see-also -%}
    <tr>
     <td class="" align="right"> <a href="{{ sa | get_page_of: site.data}}"> {{sa}} </a> </td>
     <td > <b>-</b> </td>
     <td class=""> {{sa |markdownify }} </td>
    </tr>
 {%- endfor -%}
</table>

{{ content }}

