---
layout: default
---

<div class="page-title">
   {%- assign title = page.title -%}
   {%- assign includer = page.includer | strip -%}
   <h1 class="no_toc">{{ title }}</h1>
   <h6 class='cpp-include-header'> Defined in header &lt;{{includer}}&gt;</h6>
 </div>

<!-- Signature  -->

<span class='signature'> {% highlight c++ %}{{page.signature}}{% endhighlight %}</span>

 <!-- Description of the class -->

 {{page.desc |markdownify}}

<!-- Template parameters -->

{% if page.tparams.size != 0 %}
   {% if  page.tparams.size >= 3 %}
      {%assign tpl_collapsed = true %}
      <details><summary><h2 class="cpp-template-parameters-header">Template parameters</h2></summary>
   {% else %}
      <h2>Template parameters</h2>
   {% endif %}
   <table class='tparam-table' >
   {% for param in page.tparams%}
      {% if param[1] != "__SKIP__" %}
         <tr>
         <td class="param-name" valign="top" align="left"> {{param[0]}} </td>
         <td class="param-value"> {{param[1] | newline_to_br| markdownify | remove: '<p>' | remove: '</p>'	}} </td>
         </tr>
      {% endif %}
   {% endfor %}
   </table>
   {%- if tpl_collapsed -%}</details>{%- endif -%}
{% endif %}

<!-- Aliases -->
{% if page.aliases %}
<h2>Aliases</h2>
   {% for d in page.aliases%}
   <span class='signature'> {% highlight c++ %}{{d["signature"]}}{% endhighlight %}</span>
   {% endfor %}
{% endif %}

<!-- Methods -->

{% if page.methods %}
   {% if  page.methods.size >= 100 %}
      {% assign param_collapsed = true %}
      <details><summary><h2 class="cpp-parameters-header">Member Function</h2></summary>
   {% else %}
      <h2> Member functions</h2>
   {% endif %}
   {{page.methods | make_list_possibly_grouped}}
   {%- if param_collapsed -%}</details>{%- endif -%}
{% endif %}

<!--<h2> Non member functions</h2>-->

{% if page.member_types %}
<h2> Member types</h2>
<table class='member-type-table table-wrapper' >
 {% for mt in page.member_types%}
    <tr>
     <td class="member-type-name" align="right"> {{mt[0]}}  </td>
     <td class="member-type-doc"> {{mt[1]["desc"]}} </td>
    </tr>
 {% endfor %}
</table>
{% endif %}

{% if page.member_fields %}
<h2> Member fields</h2>
<table class='member-field-table table-wrapper' >
 {% for mt in page.member_fields%}
    <tr>
     <td class="member-field-name" align="right"> {{mt[0]}}  </td>
     <td class="member-field-doc"> {{mt[1]["desc"]}} </td>
    </tr>
 {% endfor %}
</table>
{% endif %}

{%include example_and_see_also.html %}

{{ content }}

{% cpp2doc_register_images_generated_by_parser %}

