---
layout: default
---

<div class="page-title">
  {%- assign title = page.title -%}
  {%- assign includer = page.includer | strip -%}
  <h1 class="no_toc">{{ title }}</h1>
  <h6 class='cpp-include-header'> Defined in header &lt;{{includer}}&gt;</h6>
</div>

<!--Edit in {{page.permalink}}.md TODO: IS THIS BREAK NEEDED?-->
<br>

<!-- Signature  -->
<!-- TODO: Should this signature be formatted like the one in function.html with a numbered table? -->
<span class='signature'> {% highlight c++ %}{{page.signature}}{% endhighlight %}</span>

 <!-- Description of the class -->
 {{page.desc |markdownify}}

<!-- Template parameters -->
{% if page.tparams %}
<h5> Template parameters</h5>

<table class='tparam-table table-wrapper' >
 {% for param in page.tparams%}
  {% if param[1] != "__SKIP__" %}
    <tr>
     <td class="param-name" valign="top" align="right"> {{param[0]}} </td>
     <td class="param-value"> {{param[1] |markdownify | remove: '<p>' | remove: '</p>'	}} </td>
    </tr>
   {% endif %}
 {% endfor %}
</table>
{% endif %}


{{ content }}

{% cpp2doc_register_images_generated_by_parser %}

