---
layout: default
---

<h1> {{page.title |markdownify}} </h1>

<span  class='cpp-include-header'> Defined in header  &lt;{{page.includer}}&gt; </span>

<table class='cppfunction-signature-table'>
{% for entity in page.overloads %}
    <tr>
     <td> {{forloop.index}} </td>
     <td><span class='signature'>{{- entity.signature | link_and_highlight: site.data.highlighted_types, page.namespaces -}}</span></td>
     <!--<td> [Source] </td>-->
    </tr>
{% endfor %}
</table>

 <!-- Description of the function -->

{{page.brief |markdownify}}

{{page.desc |markdownify}}

 <!--Description of each overload-->
<ol>
{% for entity in page.overloads %}
 {%- if entity.desc != "" -%}
<li>
 {%- if entity.deprecated -%}[DEPRECATED]{%- endif -%}
<span class='cppfunction-overload-desc'> {{entity.desc| markdownify}}</span>
 {%- endif -%}
{% endfor %}
</ol>

 <!-- Template parameters  FIXME : FACTORIZE-->
{% if page.tparams.size != 0 %}
<h3> Template parameters</h3>
{% if  page.tparams.size >= 3 %}
{%assign collapsed = true %}
<details><summary><span class="cpp-template-parameters-header">Click to unfold</span></summary> 
{% endif %}
<table class='tparam-table' >
 {% for param in page.tparams%}
  {% if param[1] != "__SKIP__" %}
    <tr>
     <td class="param-name" valign="top" align="left"> {{param[0]}} </td>
     <td class="param-value"> {{param[1] | newline_to_br| markdownify | remove: '<p>' | remove: '</p>'	}} </td>
    </tr>
   {% endif %}
 {% endfor %}
</table>
{%- if collapsed -%}</details>{%- endif -%}
{% endif %}

 <!--Parameters -->
{% if page.params.size != 0 %}
<h3> Parameters</h3>

<table class='param-table' >
 {% for param in page.params%}
    <tr>
     <td class="param-name" valign="top" align="left"> {{param[0]}} </td>
     <td class="param-value"> {{param[1] |markdownify | remove: '<p>' | remove: '</p>'	}} </td>
    </tr>
 {% endfor %}
</table>
{% endif %}

 <!-- Return -->

{% if page.return_value %}
<h3> Return value</h3>
{{page.return_value| markdownify}}
{% endif %}

 <!-- Example -->

<h3> Example </h3>

{{page.example.desc | markdownify}}

<div>
{{page.example.code | link_and_highlight: site.data.highlighted_types}}
</div>

 <!-- See Also links -->

<h3> See also </h3>
<table class='table-seealso' >
 {%- for name in page.see-also -%}
    <tr>
     <td class="" align="right"><a href="{{name}}">{{name| get_fancy_name_from_permalink: site.data.permalink_to_fancyname}}</a></td>
     <td class="cppfunction-brief">{{site.data.permalink_to_brief[name]| markdownify | remove: '<p>' | remove: '</p>'}}</td>
    </tr>
 {%- endfor -%}
</table>


{{ content }}
{% cpp2doc_register_images_generated_by_parser %}

