---
layout: default
---

<div class="page-title">
  {%- assign title = page.title -%}
  {%- assign includer = page.includer | strip -%}
  <h1 class="no_toc">{{ title }}</h1>
  <h6 class='cpp-include-header'> Defined in header &lt;{{includer}}&gt;</h6>
</div>
<table class='signature-table table-wrapper'>
{% for entity in page.overloads %}
    <tr class="signature-row">
      <td class="signature-index"> {{forloop.index}} </td>
      <td><span class='signature'>{{- entity.signature | link_and_highlight: site.data.highlighted_types, page.namespace -}}</span></td>
    </tr>
{% endfor %}
</table>

 <!-- Description of the function -->
<h2> Description </h2>

{{page.brief |markdownify}}
{{page.desc |markdownify}}

 <!--Description of each overload-->
<ol>
{% for entity in page.overloads %}
 {%- if entity.desc != "" -%}
<li>
 {%- if entity.deprecated -%}[DEPRECATED]{%- endif -%}
<span class='cppfunction-overload-desc'> {{entity.desc| markdownify}}</span>
 {%- endif -%}
{% endfor %}
</ol>

 <!-- Template parameters  FIXME : FACTORIZE-->
{% if page.tparams.size != 0 %}
  {% if  page.tparams.size >= 3 %}
    {%assign collapsed = true %}
    <details>
      <summary><h2 class="cpp-template-parameters-header">Template parameters</h2></summary>
  {% else %}
    <h2> Template parameters</h2>
  {% endif %}
  <table class='tparam-table table-wrapper' >
  {% for param in page.tparams%}
    {% if param[1] != "__SKIP__" %}
      <tr>
      <td class="param-name" valign="top" align="left"> {{param[0]}} </td>
      <td class="param-value"> {{param[1] |newline_to_br| markdownify | remove: '<p>' | remove: '</p>'	}} </td>
      </tr>
    {% endif %}
  {% endfor %}
  </table>
  {%- if collapsed -%}</details>{%- endif -%}
{% endif %}

 <!--Parameters -->
{% if page.params.size != 0 %}
<h2> Parameters</h2>

<table class='param-table table-wrapper' >
 {% for param in page.params%}
    <tr>
     <td class="param-name" valign="top" align="left"> {{param[0]}} </td>
     <td class="param-value"> {{param[1] |markdownify | remove: '<p>' | remove: '</p>'	}} </td>
    </tr>
 {% endfor %}
</table>
{% endif %}

 <!-- Return -->

{% if page.return_value %}
<h2> Return value</h2>
{{page.return_value| markdownify}}
{% endif %}

{%include example_and_see_also.html %}

{{ content }}

{% cpp2doc_register_images_generated_by_parser %}

