---
layout: default
---

<br/>

<!--Includer-->

<div> Defined in header <span  class='includer'> &lt;{{page.includer}}&gt; </span>

<!--<ul style="list-style-type:none;">-->
<!--{% for entity in page.overloads %}-->
<!--<li> <span class='signature'> {% highlight c++ %}  {{entity[0]}} ({{forloop.index}}) {% endhighlight %}       </span>-->
<!--{% endfor %} -->
<!--</ul>-->

<table class='signature-table' >
{% for entity in page.overloads %}
    <tr>
     <td> <span class='signature'> {{- entity[0] | link_and_highlight: site.data.highlighted_types, page.namespaces -}} </span> </td>
     <td> ({{forloop.index}}) </td>
     <td> [Source] </td>
    </tr>
{% endfor %}
</table>

 <!-- Description of the function -->


 {{page.brief |markdownify}}

 {{page.desc |markdownify}}


 <!--Description of each overload-->
<ol>
{% for entity in page.overloads %}
<li>
 {%- if entity[1].deprecated -%}[DEPRECATED]{%- endif -%}
 {{entity[1].desc| markdownify}}
{% endfor %}
</ol>

 <!-- Template parameters  FIXME : FACTORIZE-->

 {% if page.tparams %}
<h5> Template parameters</h5>

<table class='tparam-table' >
 {% for param in page.tparams%}
    <tr>
     <td class="param-name" valign="top" align="left"> {{param[0]}} </td>
     <td class="param-value"> {{param[1] |markdownify | remove: '<p>' | remove: '</p>'	}} </td>
    </tr>
 {% endfor %}
</table>
{% endif %}

 <!--Parameters -->

<h5> Parameters</h5>

<table class='param-table' >
 {% for param in page.params%}
    <tr>
     <td class="param-name" valign="top" align="left"> {{param[0]}} </td>
     <td class="param-value"> {{param[1] |markdownify | remove: '<p>' | remove: '</p>'	}} </td>
    </tr>
 {% endfor %}
</table>

 <!-- Return -->

<h5> Return value</h5>
{{page.return_value}}

 <!-- Example -->

 <h5> Example </h5>

{{page.example.desc | markdownify}}

<div>
{{page.example.code | link_and_highlight: site.data.highlighted_types}}
</div>

 <!-- See Also links -->

<h5> See also </h5>
<table class='table-seealso' >
 {%- for sa in page.see-also -%}
    <tr>
     <td class="" align="right"> <a href="{{sa[0] |replace: "::", "/"}}.html"> {{sa[0]}} </a> </td>
     <td > <b>-</b> </td>
     <td class=""> {{sa[1] |markdownify }} </td>
    </tr>
 {%- endfor -%}
</table>


{{ content }}
{% cpp2doc_register_images_generated_by_parser %}

