---
layout: default
---

<br/>

{{page.brief |markdownify}}

 {% if page.namespaces %}
<h5> Namespaces</h5>
<table class='method-table' >
 {% for name in page.namespaces%}
    <tr>
     <td class="method-name" align="right"> <a href="{{ name | escape }}.html">{{name| get_fancy_name: page.permalink, site.data.permalink_to_fancyname}}</a></td>
     <td class="method-brief">{{name| get_brief: page.permalink, site.data.permalink_to_brief | markdownify | remove: '<p>' | remove: '</p>'}}</td>
    </tr>
 {% endfor %}
</table>
{% endif %}

{% if page.concepts %}
<h5> Concepts </h5>
<table class='method-table' >
 {% for name in page.concepts%}
    <tr>
     <td class="method-name" align="right"> <a href="{{ name | escape  }}">{{name| get_fancy_name: page.permalink, site.data.permalink_to_fancyname}}</a></td>
     <td class="method-brief">{{name| get_brief: page.permalink, site.data.permalink_to_brief | markdownify | remove: '<p>' | remove: '</p>'}}</td>
    </tr>
 {% endfor %}
</table>
{% endif %}

{% if page.classes %}
<h5> Classes </h5>
<table class='method-table' >
 {% for name in page.classes%}
    <tr>
     <td class="method-name" align="right"> <a href="{{ name | escape  }}">{{name| get_fancy_name: page.permalink, site.data.permalink_to_fancyname}}</a></td>
     <td class="method-brief">{{name| get_brief: page.permalink, site.data.permalink_to_brief | markdownify | remove: '<p>' | remove: '</p>'}}</td>
    </tr>
 {% endfor %}
</table>
{% endif %}

{% if page.functions %}
<h5> Functions</h5>
<table class='method-table' >
 {% for name in page.functions%}
    <tr>
     <td class="method-name" align="right"> <a href="{{ name | escape }}.html">{{name| get_fancy_name: page.permalink, site.data.permalink_to_fancyname}}</a></td>
     <td class="method-brief">{{name| get_brief: page.permalink, site.data.permalink_to_brief | markdownify | remove: '<p>' | remove: '</p>'}}</td>
    </tr>
 {% endfor %}
</table>
{% endif %}

{{ content }}


