---
layout: default
---

{{ content }}

{% if page.show_topics == true %}
  {% include multi-col.html %}
{% endif %}

<h2>Index</h2>
{% if page.namespaces %}
<details><summary><span class="cpp-namespace-list">Namespaces</span></summary>
   {{page.namespaces | make_list_possibly_grouped}}
</details>
{% endif %}

{% if page.concepts %}
<details><summary><span class="cpp-namespace-list">Concepts</span></summary>
   {{page.concepts | make_list_possibly_grouped}}
</details>
{% endif %}

<!--a list of dicts with one element : a grouped list with a gruop title-->
{% if page.classes %}
<details><summary><span class="cpp-namespace-list">Classes</span></summary>
   {{page.classes | make_list_possibly_grouped}}
</details>
{% endif %} 

{% if page.functions %}
<details><summary><span class="cpp-namespace-list">Functions</span></summary>
   {{page.functions | make_list_possibly_grouped}}
</details>
{% endif %}
