---
layout: default
---

{{ content  }}

<h2> Index </h2>
{% if page.namespaces %}
<details><summary><span class="cpp-namespace-list">Namespaces</span></summary> 
<h5> </h5>
<table class='method-table' >
 {% for name in page.namespaces%}
    <tr>
     <td class="method-name" align="right"> <a href="{{name}}">{{name| get_fancy_name: page.permalink, site.data.permalink_to_fancyname}}</a></td>
     <td class="method-brief">{{name| get_brief: page.permalink, site.data.permalink_to_brief | markdownify | remove: '<p>' | remove: '</p>'}}</td>
    </tr>
 {% endfor %}
</table>
</details>
{% endif %}

{% if page.concepts %}
<details><summary><span class="cpp-namespace-list">Concepts</span></summary> 
<table class='method-table' >
 {% for name in page.concepts%}
    <tr>
     <td class="method-name" align="right"> <a href="{{name}}">{{name| get_fancy_name: page.permalink, site.data.permalink_to_fancyname}}</a></td>
     <td class="method-brief">{{name| get_brief: page.permalink, site.data.permalink_to_brief | markdownify | remove: '<p>' | remove: '</p>'}}</td>
    </tr>
 {% endfor %}
</table>
</details>
{% endif %}

{% if page.classes %}
<details><summary><span class="cpp-namespace-list">Classes</span></summary> 
<table class='method-table' >
 {% for name in page.classes%}
    <tr>
     <td class="method-name" align="right"> <a href="{{name}}">{{name| get_fancy_name: page.permalink, site.data.permalink_to_fancyname}}</a></td>
     <td class="method-brief">{{name| get_brief: page.permalink, site.data.permalink_to_brief | markdownify | remove: '<p>' | remove: '</p>'}}</td>
    </tr>
 {% endfor %}
</table>
</details>
{% endif %}

{% if page.functions %}
<details><summary><span class="cpp-namespace-list">Functions</span></summary> 
<table class='method-table' >
 {% for name in page.functions%}
    <tr>
     <td class="method-name" align="right"> <a href="{{name}}">{{name| get_fancy_name: page.permalink, site.data.permalink_to_fancyname}}</a></td>
     <td class="method-brief">{{name| get_brief: page.permalink, site.data.permalink_to_brief | markdownify | remove: '<p>' | remove: '</p>'}}</td>
    </tr>
 {% endfor %}
</table>
</details>
{% endif %}



